ul{
    list-style-type: none;
}
li{
    display: inline;
}

div{
    border: 1px solid black;
}

.cover{
    width: 200px;
    height: auto;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
  }

.row:after{
    content: "";
    display: table;
    clear: both;
}



  @media screen and (max-width: 600px) {
    .column{
        width: 100%;
    }
  }