ul{
    list-style-type: none;
}
li{
    display: inline;
}

div{
    border: 1px solid black;
}

#books{

}


.cover{
    width: 200px;
    height: auto;
    max-width: 100%;
}

.row{
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }